<nav class="layout-navbar navbar navbar-expand-lg align-items-lg-center bg-white container-p-x" id="layout-navbar">
  <div class="container">
    <!-- Brand demo (see assets/css/demo/demo.css) -->
    <a href="index.html" class="navbar-brand app-brand demo d-lg-none py-0 mr-4">
      <img src="{{ "assets/img/logo.png" | relative_url }}" alt="logo">
    </a>
    <!-- Sidenav toggle (see assets/css/demo/demo.css) -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#layout-navbar-collapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="layout-navbar-collapse">
      <!-- Divider -->
      <hr class="d-lg-none w-100 my-2">
      <div class="navbar-nav align-items-lg-center ml-auto py-6px">
        <a class="nav-item nav-link mr-lg-2" href="javascript:void(0)">
          Get in Touch
        </a>
        <button class="btn btn-outline-dark mr-lg-3 my-3 my-lg-0" type="button">LOGIN</button>
      </div>

<!--       <div class="header-13 navbar-collapse collapse justify-content-lg-end w-lg-100">
        <div class="nav navbar-nav align-items-lg-center">
          <a class="nav-item nav-link" href="javascript:void(0)">
            Get in Touch
          </a>
          <a href="javascript:void(0)" class="btn btn-primary px-3 ml-lg-4">Join Us</a>
        </div>
      </div> -->

    </div>
  </div>
</nav>