<div id="layout-sidenav" class="layout-sidenav sidenav sidenav-vertical bg-white">
  <!-- Brand demo (see assets/css/demo/demo.css) -->
  <div class="app-brand demo">
    <img src="assets/img/logo.png" alt="logo">
    <a href="javascript:void(0)" class="layout-sidenav-toggle sidenav-link text-large ml-auto">
      <i class="ion ion-md-menu align-middle"></i>
    </a>
  </div>
  <div class="sidenav-divider mt-0"></div>
  <!-- Links -->
  <ul class="sidenav-inner py-1">
    <!-- Home -->
    <li class="sidenav-item open active">
      <a href="{{ "/" | relative_url }}" class="sidenav-link"><i class="sidenav-icon ion ion-md-home"></i>
        <div>Home</div>
      </a>
    </li>
    <!-- Applications -->
    <li class="sidenav-item">
      <a href="/dummy-page.html" class="sidenav-link"><i class="sidenav-icon ion ion-md-laptop"></i>
        <div>Applications</div>
      </a>
    </li>
    <li class="sidenav-item">
      <a href="typography.html" class="sidenav-link"><i class="sidenav-icon ion ion-md-cube"></i>
        <div>Inventories</div>
      </a>
    </li>
    <!-- Analyze -->
    <li class="sidenav-item">
      <a href="javascript:void(0)" class="sidenav-link"><i class="sidenav-icon ion ion-md-analytics"></i>
        <div>Analyze</div>
      </a>
    </li>
    <!--  Location -->
    <li class="sidenav-item">
      <a href="javascript:void(0)" class="sidenav-link"><i class="sidenav-icon ion ion-md-locate"></i>
        <div>Inventory Location</div>
      </a>
    </li>
    <!-- Plugins -->
    <li class="sidenav-item">
      <a href="javascript:void(0)" class="sidenav-link"><i class="sidenav-icon ion ion-md-outlet"></i>
        <div>3<sup>rd</sup> Party Plugins</div>
      </a>
    </li>
    <!-- Hardware -->
    <li class="sidenav-item">
      <a href="javascript:void(0)" class="sidenav-link"><i class="sidenav-icon ion ion-md-pulse"></i>
        <div>Hardware Activity Zone</div>
      </a>
    </li>
    <!--  Operations -->
    <li class="sidenav-item">
      <a href="javascript:void(0)" class="sidenav-link"><i class="sidenav-icon ion ion-ios-sync"></i>
        <div>Operations</div>
      </a>
    </li>
  </ul>
</div>