<!DOCTYPE html>
<html lang="en" class="default-style" dir="ltr">
  {%- include head.html -%}
  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-1 layout-without-sidenav">
      <div class="layout-inner">
        <!-- Layout navbar -->
        {%- include navbar.html  -%}
        <!-- / Layout navbar -->
        <!-- Layout container -->
        <div class="layout-container">
          <!-- Layout content -->
          <div class="layout-content">
            <!-- Content -->
            {{ content }}
            <!-- / Content -->
          <!-- Layout content -->
            <!-- Layout footer -->
            {%- include footer.html  -%}
            <!-- / Layout footer -->
          </div>
          <!-- / Layout container -->
        </div>
        <!-- Overlay, on mobile layout -->
        <div class="layout-overlay layout-sidenav-toggle"></div>
      </div>
    </div>
    <!-- / Layout wrapper -->
    <!-- Core scripts -->
    <script src="{{ "assets/vendor/libs/popper/popper.js" | relative_url }}"></script>
    <script src="{{ "assets/vendor/js/bootstrap.js" | relative_url }}"></script>
    <script src="{{ "assets/vendor/js/sidenav.js" | relative_url }}"></script>
    <!-- Libs (note: chart.js v2.8.0) -->
    <!-- <script src="assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script> -->
    <script src="{{ "assets/vendor/libs/chartjs/chartjs.js" | relative_url }}"></script>
    <script src="{{ "assets/vendor/libs/dragula/dragula.js" | relative_url }}"></script>
    <!-- Demo -->
    <script src="{{ "assets/js/demo.js" | relative_url }}"></script>
    <script src="{{ "assets/js/dashboards.js" | relative_url }}"></script>
  </body>
</html>